
.footer_wrapper{
width: 100%;
padding-top: 30px;
}
.footer_wrapper .footer_end{
    border-top: 1px solid rgba(0, 0, 0, 0.205);
    margin-top: 30px;
}
.footer_wrapper p{
    color: #212529 !important;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin-top: 1.5rem !important;
}
.footer_wrapper a{
    text-decoration: none;
    color: #212529 !important;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin-top: 1.5rem !important;
}
.footer_wrapper h4{
    color: #212529 !important;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-top: 1.5rem !important;
    padding-bottom: 15px;
}

.footer_wrapper .footer_input{
    background-color: #212529;
    padding: 14px 30px;
    width: 250px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.footer_wrapper .submit{
    border: 1px solid rgba(255, 228, 196, 0);
    font-size: 16px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    padding: 15px 30px;
    background-color: #00ff53;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.footer_wrapper .footer_input input{
    border: 1px solid rgba(255, 228, 196, 0);
    outline: 0;
    background-color: #212529;
    color: white;
}

.footer_wrapper .footer_input input::placeholder{
    color: #ffffff !important;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin-top: 1.5rem !important;
}
@media screen and (max-width: 576px) {
    .footer a{
        color: aliceblue;
        text-decoration: none;
        padding: 0px;
        margin-left: 0px;
        font-family: 'Luckiest Guy', cursive;
        font-size: 13px;
        }

        .footer{
            padding-top: 100px;
               bottom: 0;
               display: flex;
               justify-content: space-around;
               
               padding-bottom: 30px;
           }
}